@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/*
font-family: 'Raleway', sans-serif;
*/
/* ___________________________________________INITIALISATION ___________________________________________ */

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    transition: 0.5s;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}

/* ___________________________________________HEADER___________________________________________ */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    width: auto;
}

.header-link {
    margin-left: 70px;
}

#this-page {
    color: #0065FC;
}

#inscription {
    color: #0065FC;
    font-weight: bold;
}

/* ___________________________________________SECTION 1 | FILTRE ___________________________________________ */


.filtre-section {
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 30px;
}


/*Title*/

.filtre-title {
    margin-bottom: 10px;
}


/*Subtitle*/

.filtre-subtitle {
    margin-bottom: 20px;
}


/*Input*/

.inp-icon {
    width: 42px;
    height: 42px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-inp {
    height: 42px;
    outline: none;
    border: 1px solid #F2F2F2;
    padding-left: 10px;
    font-weight: bold;
}


.filtre-search-btn {
    color: white;
    background-color: #3865fd;
    border: none;
    height: 42px;
    width: 100px;
    border-radius: 0 10px 10px 0;
    outline: none;
    font-weight: bold;
    cursor: pointer;

}


/*Filtre*/

.filtre-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750px;
    margin-bottom: 30px;
}

.filtre-container>p {
    font-size: 14px;
    font-weight: bold;
}


.filtre-box {
    border-radius: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

.filtre-box:hover {
    color: white;
    background-color: #DEEBFF;
}

.filtre-box:hover>div {
    background-color: #0065FC;
}

.filtre-box:hover>div>i {
    color: white;
}

.filtre-box:hover>p {
    color: #0065FC;
}


.filtre-box-txt {
    margin: 0 15px;
    font-size: 14px;
}

.filtre-icon {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #DEEBFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtre-icon>i {
    color: #0065FC;
    width: auto;
    height: auto;
}

.filtre-search {
    margin-bottom: 30px;
    display: flex;
}

/*Info*/

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid #F2F2F2;
    border-radius: 100px;
    margin-right: 10px;

}

.info>div>i {
    color: #0065FC;
}

/* ___________________________________________SECTION 2 et 3 | REGROUPEMENT FLEXBOX ___________________________________________ */


.section-regroupement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

/* ___________________________________________SECTION 2 | HEBERGEMENT ___________________________________________ */


.hebergement-section {
    background-color: #f1f2f3;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/*Grille*/

.hebergement-grid {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    margin-bottom: 20px;
    grid-gap: 20px;
}

.hebergement-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;

}

/*Boxs*/

.hebergement-box {
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);

}

.hebergement-box-img {
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0 0;

}

.hebergement-title-box {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.hebergement-subtitle {
    margin-left: 10px;
    margin-top: 5px;

}

.low-price {
    font-weight: bold;
}

/*STAR NOTES*/

.star-note {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    margin: 5px 0 5px 10px;

}

.star-note>i {
    color: #d6d8dc;
}

/* La classe .star-true s'insère dans les icones de notation en forme d'étoile*/
.star-true {
    color: #0065FC !important;
}



/*Plus*/

.plus {
    font-size: 18px;
}


/* ___________________________________________SECTION 3 | POPULAIRE ___________________________________________ */


.pop_section {
    background-color: #f1f2f3;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    width: 100%;
    height: 551px;
    margin-left: 0;
}

.pop-title {
    font-size: 25px;
    font-weight: bold;
}

/*Container*/

.pop-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

/*Box*/
.pop-box {
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}

.pop-container {
    display: grid;
    grid-gap: 20px;
}

.box-img {
    width: 150px;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

.pop-box-para {
    height: 100%;
    padding: 10px;
}

.pop-box-title {
    font-size: 18px;
    font-weight: bold;
}

.pop-box-subtitle {
    margin-top: 10px;
}

/* Elément STAR NOTES réutilisé de la ligne 275, et modifié ci-dessous */
.pop-box-para>div {
    margin-left: 0;
    position: relative;
    top: 15px;
}

/* ___________________________________________SECTION 4 | ACTIVITE ___________________________________________ */

.activite-section {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    margin: 30px;

}

.activite-title {
    font-size: 25px;
    font-weight: bold;
}

/*Grid container*/


.activite-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    margin-top: 30px;
}

/*Box propriétés*/

.activite-box {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
}

.act-box-img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: auto;
}

.act-box-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 10px 15px;
}

/*Boxs placement*/

.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.box2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.box3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.box4 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.box5 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.box6 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}




/*Définition de la taille des grandes images*/
.box1>img,
.box4>img {
    height: 480px;
}

/*Définition de la taille des petites images*/

.box2>img,
.box3>img,
.box5>img,
.box6>img {
    height: 200px;
}

/* ___________________________________________FOOTER___________________________________________ */

footer {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    padding: 50px 30px;
    background-color: #f1f2f3;
}

/*Footer para*/

.footer-para {
    margin-right: 200px;
}

.footer-para>p {
    margin-bottom: 5px;
}

.footer-para-title {
    font-size: 18px;
    margin-bottom: 10px;
}