@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/*
font-family: 'Raleway', sans-serif;
*/

/* ___________________________________________INITIALISATION ___________________________________________ */

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    transition: 0.5s;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}

/* ___________________________________________DESKTOP > 990PX ___________________________________________ */


/* ___________________________________________HEADER___________________________________________ */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    width: auto;
}

.header-link {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.this-page {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    height: 103px;

}

#inscription {
    color: #0065FC;
    font-weight: bold;
}

.header-nav {
    height: 105px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}



/* ___________________________________________SECTION 1 | FILTRE ___________________________________________ */


.filtre-section {
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 30px;
}


/*Title*/

.filtre-title {
    margin-bottom: 10px;
    margin: 0 10px 10px 0;
}


/*Subtitle*/

.filtre-subtitle {
    margin-bottom: 20px;
}


/*Input*/

.inp-icon {
    width: 42px;
    height: 42px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-inp {
    height: 42px;
    outline: none;
    border: 1px solid #F2F2F2;
    padding-left: 10px;
    font-weight: bold;
}


.filtre-search-btn {
    color: white;
    background-color: #3865fd;
    border: none;
    height: 42px;
    width: 100px;
    border-radius: 0 10px 10px 0;
    outline: none;
    font-weight: bold;
    cursor: pointer;

}

.filtre-search-btn>i {
    display: none;
}

/*Filtre*/

.filtre-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750px;
    margin-bottom: 30px;
}

.filtre-container>p {
    font-size: 14px;
    font-weight: bold;
}


.filtre-box {
    border-radius: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #d6d8dc;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

.filtre-box:hover {
    color: white;
    background-color: #DEEBFF;
}

.filtre-box:hover>div {
    background-color: #0065FC;
}

.filtre-box:hover>div>i {
    color: white;
}

.filtre-box:hover>p {
    color: #0065FC;
}


.filtre-box-txt {
    margin: 0 15px;
    font-size: 14px;
}

.filtre-icon {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #DEEBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -2px;
}

.filtre-icon>i {
    color: #0065FC;
    width: auto;
    height: auto;
}

.filtre-search {
    margin-bottom: 30px;
    display: flex;
}

/*Info*/

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #d6d8dc;
    border-radius: 100px;
    margin-right: 10px;

}

.info>div>i {
    color: #0065FC;
}

/* ___________________________________________SECTION 2 et 3 | REGROUPEMENT FLEXBOX ___________________________________________ */


.section-regroupement {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

/* ___________________________________________SECTION 2 | HEBERGEMENT ___________________________________________ */


.hebergement-section {
    background-color: #f1f2f3;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 551px;

}

/*Grille*/

.hebergement-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 180px));
    margin-bottom: 20px;
    margin-left: 12px;
    grid-gap: 20px;
    margin-right: 10px;
    justify-content: center;
    max-width: 775px;
}

.hebergement-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;

}

/*Boxs*/

.hebergement-box {
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

}

.hebergement-box-img {
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0 0;

}

.hebergement-title-box {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.hebergement-subtitle {
    margin-left: 10px;
    margin-top: 5px;

}

.low-price {
    font-weight: bold;
}

/*STAR NOTES*/

.star-note {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    margin: 5px 0 5px 10px;

}

.star-note>i {
    color: #d6d8dc;
    margin-right: 1px;
}

/* La classe .star-true s'insère dans les icones de notation en forme d'étoile*/
.star-true {
    color: #0065FC !important;
}



/*Plus*/

.plus {
    font-size: 18px;
}


/* ___________________________________________SECTION 3 | POPULAIRE ___________________________________________ */


.pop_section {
    background-color: #f1f2f3;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    width: auto;
    max-width: 400px;
    height: 551px;
    margin-left: 0;
    min-width: 358px;
}

.pop-title {
    font-size: 25px;
    font-weight: bold;
}

.pop-title-ctn {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: auto;
}

.pop-title-ctn>i {
    margin: auto 0;
}

/*Container*/

.pop-container {
    display: grid;
    grid-gap: 20px;
    margin-top: 20px;
}

/*Box*/
.pop-box {
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
}


.box-img {
    width: 33%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    min-width: 110px;
}

.pop-box-para {
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.pop-box-title {
    font-size: 18px;
    font-weight: bold;
}

.pop-box-subtitle {
    margin-top: 10px;
    margin-bottom: auto;
}

/* Elément STAR NOTES réutilisé de la ligne 275, et modifié ci-dessous */
.pop-box-para>div {
    margin: 0;
}

/* ___________________________________________SECTION 4 | ACTIVITE ___________________________________________ */

.activite-section {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    margin: 30px;

}

#activite-title {
    font-size: 25px;
    font-weight: bold;
    width: 100%;
}

/*Grid container*/


.activite-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    margin-top: 30px;
}

/*Box propriétés*/

.activite-box {
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.act-box-img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: auto;
}

.act-box-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*Boxs placement*/

.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.box2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.box3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.box4 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.box5 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.box6 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}




/*Définition de la taille des grandes images*/
.box1>img,
.box4>img {
    height: 480px;
}

/*Définition de la taille des petites images*/

.box2>img,
.box3>img,
.box5>img,
.box6>img {
    height: 200px;
}

/* ___________________________________________FOOTER___________________________________________ */

footer {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    padding: 50px 30px;
    background-color: #f1f2f3;
}

/*Footer para*/

.footer-para {
    margin-right: 200px;
}

.footer-para>p {
    margin-bottom: 5px;
}

.footer-para-title {
    font-size: 18px;
    margin-bottom: 10px;
}

/* ________________________________________________________________________________________________ */
/* -------------------------------------------RESPONSIVE------------------------------------------- */
/* ________________________________________________________________________________________________ */


/* ___________________________________________TABLETTE < 990PX ___________________________________________ */

@media screen and (max-width: 990px) {

    /*Header*/
    header {
        flex-direction: column;
        padding: 30px 0;
        align-items: flex-start;
    }

    header>img {
        margin-left: 30px;
    }

    .header-link {
        margin: 0;
    }

    .header-nav {
        display: flex;
        width: 100%;
        margin-top: 10px;
        height: auto;
    }

    .header-nav :nth-child(1) {
        order: 2 !important;
        width: 50%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-nav :nth-child(2) {
        order: 3 !important;
        width: 50%;
        border-bottom: 3px solid #f1f2f3;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-nav :nth-child(3) {
        position: absolute;
        right: 30px;
        top: 43px;
        height: auto;
        width: auto;
    }


    .this-page {
        border-bottom: 3px solid #0065FC;
        border-top: 0;
    }


    .section-regroupement {
        flex-direction: column-reverse;
    }

    /*Filtre*/

    .filtre-container {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .filtre-box {
        margin: 0 5px 10px 5px;
    }

    /*Hébergement*/

    .hebergement-section {
        background-color: #f1f2f3;
        padding: 30px;
        margin: 15px 0;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .hebergement-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(33%, 100%));
        margin-bottom: 20px;
        margin-left: 12px;
        grid-gap: 20px;
        margin-right: 10px;
        justify-content: center;
        width: 100%;
    }

    .plus,
    .hebergement-title {
        width: 100%;
        text-align: start;
    }

    /*Populaire*/

    .pop_section {
        background-color: #f1f2f3;
        padding: 30px;
        margin: 15px 0;
        border-radius: 0;
        width: 100%;
        max-width: none;
        height: 551px;
        min-width: auto;
    }

    .pop-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .pop-box {
        background-color: #fff;
        border-radius: 20px;
        padding: 5px;
        width: 100%;
        min-width: 275px;
        height: 135px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
    }

    .box-img {
        width: 50%;
    }

    /*Activité*/

    .activite-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin: 30px;

    }

    .activite-grid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        width: 100%;

    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6 {
        height: 250px;
        width: 100% !important;
        margin: 5px 0;
    }

    .act-box-img {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 200px !important;
    }

    /*Footer*/
    footer {
        justify-content: space-between;
    }

    .footer-para {
        margin-right: 0;
    }

}



/* ___________________________________________MOBILE < 768PX ___________________________________________ */

@media screen and (max-width: 768px) {

    /*Filtre*/
    #filtre-ctn-txt {
        width: 100%;
        margin-bottom: 10px;
    }

    .filtre-search-btn {
        width: 42px;
        border-radius: 10px;
        position: relative;
        left: -10px;
    }

    .filtre-search-btn>i {
        display: block;
    }

    .filtre-search-btn>span {
        display: none;
    }

    .filtre-title {
        font-size: 18px;
    }

    .filtre-subtitle {
        font-size: 14px;
    }

    .filtre-container {
        justify-content: start;
        flex-wrap: wrap;
    }

    .filtre-box-txt {
        margin: 0 10px;
    }

    div.filtre-box:nth-child(4) {
        margin-right: 100%;
    }

    .info-txt {
        font-size: 14px;
    }

    /*Hébergement*/
    .hebergement-grid {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        margin: 0;
        margin-bottom: 20px;
        grid-gap: 20px;
        margin-right: 10px;
        justify-content: center;
        width: 100%;
    }

    .hebergement-box-img {
        height: 150px;
    }

    .hebergement-section {
        background-color: #fff;
    }

    .hebergement-title {
        font-size: 22px;
    }

    .hebergement-title-box {
        font-size: 16px;
    }

    .hebergement-subtitle {
        font-size: 14px;
    }

    /*Populaire*/

    .pop-title {
        font-size: 22px;
    }

    .box-img {
        width: 33%;
        min-width: 105px;
    }

    .pop-box-title {
        font-size: 16px;
    }

    .pop-box-subtitle {
        font-size: 14px;
    }

    /*Activité*/

    #activite-title {
        font-size: 22px;
    }

    .act-box-img {
        height: 150px !important;
    }

    .activite-box {
        height: 200px;
    }

    /*Footer*/
    footer {
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 0;
    }

    .footer-para {
        margin-bottom: 30px;
    }

    .footer-para-title {
        margin-bottom: 20px;
    }

    .footer-para>p {
        margin-bottom: 15px;
    }
}